{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Admin</h1>
            <p class="lead">
                Velkommen tilbake, vi har savnet deg!
            </p>
            <p>
                Hva ønsker du å foreta deg i dag?
            </p>
            <p>
                
            </p>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Tilbake</a>
        </div>
    </div>
</div>
{% endblock body %}